---

---

<div class="mt-6 text-center">
  <button class="bg-accent border-1 p-4 border-accent-content yeseva-one-regular font-extrabold text-accent-content shadow-2xl shadow-accent-content hover:bg-white hover:text-neutral transition duration-300 ease-in-out">TILMELD DIG!</button>
</div>
