---
import Buttonprisliste from "./Buttonprisliste.astro";
import Header from "./Header.astro";
---

<div class="bg-cover bg-center bg-[url('/formularbillede.png')] pt-20 pb-20 min-h-screen">
  <Header />
  <div>
    <h1 class="flex justify-center text-5xl font-bold yeseva-one-regular text-neutra">Reservér en plads</h1>
  </div>

  <div class="bg-white/30 p-6 rounded-xl shadow-md space-y-4 max-w-xl mx-auto mt-40">
    <div>
      <label class="font-semibold">HØJSKOLEOPHOLD:</label>
      <select class="select select-bordered w-full mt-1 rounded-sm">
        <option disabled selected>Vælg ønsket destination her</option>
        <option>Maldiverne</option>
        <option>Australien</option>
        <option>Brasilien</option>
          <option>Costa Rica</option>
        <option>Indien</option>
        <option>Hawaii</option>
      </select>
    </div>

    <div>
      <label class="font-semibold">KONTAKTINFO:</label>
      <input type="text" placeholder="Dit fulde navn" class="input input-bordered w-full mt-1 rounded-sm" />
    </div>

    <div>
      <label class="font-semibold">VÆLG KØN: <span class="text-sm font-normal">(som det fremgår i dit pas)</span></label>
      <select class="select select-bordered w-full mt-1 rounded-sm">
        <option disabled selected>Vælg køn</option>
        <option>Mand</option>
        <option>Kvinde</option>
        <option>Andet</option>
      </select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <input type="tel" placeholder="Tlf.nr" class="input input-bordered w-full rounded-sm" />
      <input type="email" placeholder="Email" class="input input-bordered w-full rounded-sm" />
    </div>

    <textarea class="textarea textarea-bordered w-full rounded-sm" rows="3" placeholder="Bemærkning..."></textarea>

    <div class="space-y-2 pt-2">
      <p class="font-semibold text-black-500">*Disse felter skal udfyldes/vælges</p>

      <div class="form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-primary" />
          <span class="label-text ml-2">Jeg har læst jeres privatlivspolitik og generelle bestemmelser <br /> og er indforstået med begge*</span>
        </label>
      </div>

      <div class="form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-primary" />
          <span class="label-text ml-2">Ja tak - send mig jeres brochure</span>
        </label>
      </div>
    </div>
  </div>
   <Buttonprisliste />
</div>
