---
import Header from "./Header.astro";
---

<div class="bg-base-200">
  <Header />
  <article class="p-40 bg-base-200">
    <section class="max-w-12xl mx-auto px-0 md:px-[40px] lg:px-[10px] pt-20 md:pt-0">
      <div class="relative">
        <img src="/herosectionbillede.png" alt="billede" class="m-0 h-full w-[100px] bg-cover bg-center sm:w-[150%]" />
        <h1 class="absolute top-1/6 left-1/2 transform -translate-x-1/2 text-base-300 text-bold text-3xl sm:text-7xl yeseva-one-regular">DIT LIVS EVENTYR!</h1>
      </div>
    </section>
  </article>

  <div class="flex flex-col md:flex-row">
    <!-- Venstre kolonne: billede med overlappende tekst -->
    <article class="flex-1 bg-base-200 p-6 md:p-20">
      <div class="relative max-w-5xl mx-auto">
        <img src="pigedergynger.jpg" alt="billede" class="w-full h-auto rounded-xl shadow-lg" />
        <h1 class="absolute top-3/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2
                 text-base-300 text-2xl sm:text-4xl text-center font-bold yeseva-one-regular">ER DU KLAR TIL DIT LIVS EVENTYR?</h1>
      </div>
    </article>

    <!-- Højre kolonne: tekst + knap i en kort -->

    <article class="flex-1 bg-base-200 px-4 py-6 md:px-10 md:py-20 flex items-center">
      <div class="card bg-white shadow-xl p-8 w-full">
        <p class="mb-6 noto-sans-200">
          HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.
          <br /><br />
          HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk, drømmer om en fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning.
          <br /><br />
          Du er sikker på en tryg rejseoplevelse da vi er medlem af Rejsegarantifonden. Vi glæder os til at lære dig at kende.
        </p>
        <div class="flex justify-center">
          <button class="btn btn-accent border-accent-content yeseva-one-regular"> TILMELD DIG INFOMØDE! </button>
        </div>
      </div>
    </article>
  </div>

  <article class="p-40 bg-base-200">
    <section class="relative">
      <div class="grid grid-cols-1 gap-6">
        <!-- MALDIVERNE -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">MALDIVERNE</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">SRI LANKA, BALI, GILI ISLANDS, JAPAN OG AUSTRALIEN</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard1.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">HØJSKOLE I MALDIVERNE, SRI LANKA, BALI, GILI ISLANDS, JAPAN & AUSTRALIEN</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- AUSTRALIEN -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">AUSTRALIEN</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">NEW ZEALAND, VIETNAM, BALI, GILIS ISLANDS, LOMBOK</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard2.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">HØJSKOLE I AUSTRALIEN, NEW ZEALAND, VIETNAM, BALI & GILIS ISLANDS</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- BRASILIEN -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">BRASILIEN</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">COLUMBIA, COSTA RICA OG MEXICO</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard3.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">HØJSKOLE I BRASILIEN, COLUMBIA, COSTA RICA & MEXICO</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- COSTA RICA -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">COSTA RICA</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">MEXICO OG COLUMBIA</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard4.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">MEXICO OG COLUMBIA</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- INDIEN -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">INDIEN</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">NEPAL, THAILAND, VIETNAM OG SRI LANKA</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard5.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">NEPAL, THAILAND, VIETNAM OG SRI LANKA</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- HAWAII -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">HAWAII</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">AUSTRALIEN, JAPAN, BALI OG GILI ISLANDS</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard6.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">AUSTRALIEN, JAPAN, BALI OG GILI ISLANDS</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- MALDIVERNE -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">MALDIVERNE</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">SRI LANKA, BALI OG GILI ISLANDS</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscards7.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">SRI LANKA, BALI OG GILI ISLANDS</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- BRASILIEN-->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">BRASILIEN</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">BOLIVIA, COLOMBIA, ECUADOR, PERU OG ARGENTINA</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscard8.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">BOLIVIA, COLOMBIA, ECUADOR, PERU OG ARGENTINA</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- Add similar blocks for other destinations -->
        <!-- Australien -->
        <div class="group relative flex flex-col md:flex-row items-center">
          <h1 class="text-2xl font-bold yeseva-one-regular text-base-300">AUSTRALIEN</h1>
          <p class="yeseva-one-regular text-base-300 ml-0 md:ml-4 mt-2 md:mt-0">JAPAN, BALI OG GILI ISLANDS</p>
          <div class="card absolute md:left-[80%] md:ml-4 bg-base-100 text-white flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg transform scale-75 md:scale-100 top-full md:top-auto mt-4 md:mt-0">
            <article class="p-20 bg-base-200">
              <section class="max-w-7xl mx-auto">
                <div class="card bg-white shadow-xl rounded-lg overflow-hidden">
                  <img src="/destinationscards9.jpg" alt="Example Image" class="w-full h-auto" />
                  <div class="p-4">
                    <h2 class="text-xl font-bold yeseva-one-regular text-neutral">JAPAN, BALI OG GILI ISLANDS</h2>
                    <div class="flex justify-center mt-4">
                      <button class="btn btn-accent border-accent-content yeseva-one-regular text-sm">LÆS MERE</button>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>




<article class="p-40 bg-base-200">
  <section class="">
    <div class="p-6">
      <h1 class="text-2xl font-bold yeseva-one-regular text-neutral flex justify-center items-center">INFOMØDER</h1>
      <p class="yeseva-one-regular text-neutral">Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure, vilde naturoplevelser og spændende kulturmøder så smut forbi et af vores hyggelige infomøder i København eller Aarhus – eller mød os på et online infomøde.</p>
      <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-6">
        <div class="flex flex-col card bg-white p-3">
          <h2 class="text-lg font-bold yeseva-one-regular text-neutral">KØBENHAVN</h2>
          <p class="yeseva-one-regular text-neutral">Dato: 12. marts</p>
          <p class="yeseva-one-regular text-neutral">Tid: 18:00</p>
        </div>
        <div class="flex flex-col card bg-white p-3">
          <h2 class="text-lg font-bold yeseva-one-regular text-neutral">AARHUS</h2>
          <p class="yeseva-one-regular text-neutral">Dato: 15. marts</p>
          <p class="yeseva-one-regular text-neutral">Tid: 19:00</p>
        </div>
        <div class="flex flex-col card bg-white p-3">
          <h2 class="text-lg font-bold yeseva-one-regular text-neutral">ONLINE</h2>
          <p class="yeseva-one-regular text-neutral">Dato: 20. marts</p>
          <p class="yeseva-one-regular text-neutral">Tid: 20:00</p>
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button class="bg-base-100 rounded-full border-1 p-4 border-accent yeseva-one-regular text-accent shadow-2xl hover:bg-white hover:border-accent-content hover:text-accent-content transition-colors duration-300">TILMELD INFOMØDE</button>
      </div>
    </div>
  </section>
  <section class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0"></section>
</article>

<article class="p-40 bg-base-200">
  <section class="">
    <div class="p-6">
      <h1 class="text-2xl font-bold yeseva-one-regular text-neutral flex justify-center items-center">TIPS OG TRICK INDEN REJSEN!</h1>
      <img src="/pakkeliste.png" alt="billede" />
    </div>
  </section>
  <section class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0"></section>
</article>
