---
import Buttonprisliste from "../components/Buttonprisliste.astro";
import Header from "./Header.astro";
---

<div class="bg-cover bg-center bg-[url('/baggrundsbillede.jpg')] pt-20 pb-20 min-h-screen">
   <Header />


<article class="lg:p-40 sm:p-15 p-10 pt-50 sm:pt-50">
    <section class="max-w-12xl mx-auto px-0 md:px-[40px] lg:px-[10px] pt-20 md:pt-0 bg-[#ffffffa9]">
        <div class="text-center mb-10">
    <h1 class="text-base-300 text-3xl md:text-7xl yeseva-one-regular">PRISOVERSIGT</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6">
      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">MALDIVERNE, SRI LANKA, BALI, GILI ISLANDS, JAPAN & AUSTRALIEN</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">AUSTRALIEN, NEW ZEALAND, VIETNAM, BALI, GILIS ISLANDS, LOMBOK</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">BRASILIEN, COLUMBIA, COSTA RICA OG MEXICO</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">INDIEN, NEPAL, THAILAND, VIETNAM OG SRI LANKA</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">HAWAII ,AUSTRALIEN, JAPAN, BALI OG GILI ISLANDS</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">COSTA RICA, MEXICO OG COLUMBIA</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>
      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">MADIVERNE ,SRI LANKA, BALI OG GILI ISLANDS</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>

      <div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">BRASILIEN, BOLIVIA, COLOMBIA, ECUADOR, PERU OG ARGENTINA</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div><div class="card bg-base-100 shadow-md p-6">
        <h1 class="text-xl font-black bg-base-300 p-6 yeseva-one-regular -m-6 rounded-lg">AUSTRALIEN ,JAPAN, BALI OG GILI ISLANDS</h1>
        <div class="grid grid-cols-2 gap-4 mt-11">
          <div>
            <p class="font-bold noto-sans-200">Varighed:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">3 måneder</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">Introdage</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold">1.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">2.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">3.Måned:</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane Dubai/Doha/Singapore/Bangkok/Brisbane</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="font-bold noto-sans-200">AFREJSE:</p>
          </div>
          <div>
            <p class="font-bold noto-sans-200">CA PRIS:</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p class="noto-sans-200 text-xs">Ca. 15 januar 2026</p>
          </div>
          <div>
            <p class="noto-sans-200 text-xs">77.000 DKK</p>
          </div>
        </div>
        <div class="mt-6 text-center">
          <Buttonprisliste />
        </div>
      </div>
    </div>
  </section>
</article>
</div>